body{
	 background:#20116C
}
p{
	font-size:14px;
	font-family: Rockwell;
	color:#74F05C;
	text-align: center;
}
h1{
	
	font-size: 30px;
	font-family: Rockwell;
	color: white;
	text-align: center;
}
img{
	width: 200px;
	height: 200px;
}